<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Homepage</h1>
    <ul>
        <li><a href="{% url 'profile' %}">Profile</a></li>
        <li><a href="{% url 'myrequests' %}">My Requests</a></li>
        <li><a href="{% url 'sent_requests_status' %}">My Sent Request Status</a></li>
    </ul>

    <h2>All Requests</h2>
    <ul>
        {% for request in requests %}
            <li>
                Request Owner: {{ request.request_owner.username }}<br>
                Trip Date/Time: {{ request.trip_date_time }}<br>
                Number of Passengers: {{ request.no_passengers }}<br>
                Description: {{ request.desc }}<br>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
